* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



#marquee {

    background-color: #F1A80B;
    text-decoration: underline;
    font-family: verdana, arial, san-sarif;
    font-weight: normal;
    color: #E10505;
}



.table tbody tr td img {

    width: 50px;
    height: 40px;


}

h1 {
    text-align: center;
}

.display-6 {

    text-align: center
}

.vote_btn {
    width: 20px;
    width: 40px;
    border: 1px solid blue;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

#update {

    position: relative;
    top: 300px;
    left: 100px;
    right: 200px;

}

#livecount {
    text-align: justify-all;
    font-family: verdana, arial, san-sarif;
    font-weight: bold;
    margin: 0px;
    border: 0px;
    width: 50%;
    height: 25%;
    position: relative;
    left: 180px;

}